<a href="https://colab.research.google.com/github/Yuvaranii/Data_Preprocessing-Machine-Learning/blob/main/DataPreprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Data.csv

**Step 1: Importing the libraries**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

**Step 2: Importing dataset**

In [ ]:
Data = pd.read_csv("https://raw.githubusercontent.com/Yuvaranii/Data_Preprocessing/main/Data.csv")
Data.head(10)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

**Step 3: Handling the missing data**

In [ ]:
Data.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [ ]:
Data.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [ ]:
#fill the missing data with the mean

Age_Mean = Data["Age"].mean()
Salary_Mean = Data["Salary"].mean()
print(Age_Mean)
print(Salary_Mean)

38.77777777777778
63777.77777777778

In [ ]:
Data["Age"] = Data["Age"].replace(np.nan, Age_Mean)
Data["Salary"] = Data["Salary"].replace(np.nan, Salary_Mean)

In [ ]:
Data['Salary']= Data.groupby(Data['Country']=='Germany')['Salary'].apply(lambda x:x.fillna(x.mean()) )

In [ ]:
Data["Age"] = Data.groupby(Data["Country"] == "Spain")["Age"].apply(lambda x:x.fillna(x.mean()))

In [ ]:
Data.isnull().sum()

Country      0
Age          0
Salary       0
Purchased    0
dtype: int64

**Step 4: Encoding categorical data**

In [ ]:
from sklearn import preprocessing
Encoder = preprocessing.LabelEncoder()
Column = ['Country','Purchased']
Data[Column] = Data[Column].apply(Encoder.fit_transform)
Data

   Country        Age        Salary  Purchased
0        0  44.000000  72000.000000          0
1        2  27.000000  48000.000000          1
2        1  30.000000  54000.000000          0
3        2  38.000000  61000.000000          0
4        1  40.000000  63777.777778          1
5        0  35.000000  58000.000000          1
6        2  38.777778  52000.000000          0
7        0  48.000000  79000.000000          1
8        1  50.000000  83000.000000          0
9        0  37.000000  67000.000000          1

In [ ]:
X = Data[["Country", "Age", "Salary"]]
Y = Data["Purchased"]

**Step 5: Creating a dummy variable**

In [ ]:
print(X,Y)

   Country        Age        Salary
0        0  44.000000  72000.000000
1        2  27.000000  48000.000000
2        1  30.000000  54000.000000
3        2  38.000000  61000.000000
4        1  40.000000  63777.777778
5        0  35.000000  58000.000000
6        2  38.777778  52000.000000
7        0  48.000000  79000.000000
8        1  50.000000  83000.000000
9        0  37.000000  67000.000000 0    0
1    1
2    0
3    0
4    1
5    1
6    0
7    1
8    0
9    1
Name: Purchased, dtype: int64

**Step 6: Splitting the datasets into training sets and Test sets**

In [ ]:
from sklearn.model_selection import train_test_split
X_Train,  X_Test, Y_Train, Y_Test = train_test_split(X,Y, test_size = 0.2, random_state = 42)

**Step 7: Feature Scaling**

In [ ]:
from sklearn.preprocessing import StandardScaler
SC = StandardScaler()
X_train = SC.fit_transform(X_Train)
X_test = SC.transform(X_Test)